#DATABASE
DB_USER=root
DB_PASSWORD=any_password_123
DB_HOST=db-database.com
DB_PORT=5432
DB_NAME=database_name

#AUTH
SECRET_KEY=ANY_SECRET_KEY_94209423K-5205,**FREMGSO3
ALGORITH=HS256

#YOLO
YOLO_MODEL_PATH=yolov8n.pt

#IMAGE_MAX
IMAGE_MAX_WIDTH=4000
IMAGE_MAX_HEIGHT=4000

#IMAGE MIN
IMAGE_MIN_WIDTH=400
IMAGE_MIN_HEIGHT=400

# AWS S3
AWS_ACCESS_KEY_ID=AWSACCESKEY49205294
AWS_SECRET_ACCESS_KEY=awsSecretTKEY934205532
AWS_REGION=us-east-2
AWS_S3_BUCKET_NAME=your_bucket